.btn {
  background-color: $mainBlue;
  color: #fff;
  text-decoration: none;
  padding: 0.75rem 1.2rem;
  display: inline-block;

  &--orange {
    background-color: $mainOrange;
  }

  &--large {
    margin-left: 15px;
    padding: 1.1rem 2.3rem;

    @mixin atSmall {
      font-size: 1.25rem;
    }
  }
}
