.row {
  &__medium-4 {
    width: 100%;
  }
  &__medium-8 {
    width: 100%;
  }

  &__b-margin-until-medium {
    margin-bottom: 1rem;
  }
  @mixin atMedium {
    &__b-margin-until-medium {
      margin-bottom: 0;
    }
    display: flex;
  }

  @mixin atLarge {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 5rem;
  }
}
